
// $primary: #fff;
// $secondary: #80009D;
// $background: #000;
// $background-secondary: #424242;

//planets

$primary   : #1976D2 !default;
$secondary : #26A69A !default;
$accent    : #9C27B0 !default;