body {
  background-color: #000;
  color: #fafafa;
  font-family: 'Roboto', sans-serif;

  & > div:first-child {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0;
    min-height: 100vh;
  }
}

ul {
  padding-left: 0;
  margin: 0;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}